<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fallout_tec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fallout_tec.styles.css" asp-append-version="true" />
    <!--jquery-->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/caps.png">
</head>


<body>




    <!--Navbar-->
    <!--Navbar-->
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3" style="background-color:#333630; height:60px; padding:20px;">
            <div class="container">
                    <a class="navbar-brand bg-white" asp-area="" asp-page="/Index"> <img class="logo" src="~/images/logo.png" alt="logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-left:85%;">
                            <a class=" navtext navregister" style="margin-left:20px;" asp-area="" asp-page="/Registerpage">Register</a>
                        </li>
                        <li class="nav-item" style="margin-left:10px;">
                            <a class="navtext  navhome" style="margin-left:20px;" asp-area="" asp-page="/Homepage">Home</a>
                        </li>
                        <li class="nav-item" style="margin-left:10px;">

                            




                            <a class="navtext  navinventory" style="margin-left:20px;" asp-area="" asp-page="/inventorypage" asp-page-handler="1">Inventory</a>





                        </li>
                        <li class="nav-item" style="margin-left:10px;">
                            <a class="navtext  navcrafting" style="margin-left:20px;" asp-area="" asp-page="/Craftingpage" asp-page-handler="1">Crafting</a>
                        </li>
                        <li class="nav-item" style="margin-left:10px;">
                            <a class="navtext  navlocation" style="margin-left:20px;" asp-area="" asp-page="/Locationpage" asp-page-handler="1">Location</a>
                        </li>

                        <li class="nav-item" style="margin-left:10px;">
                            <a class="navtext  navperks" style="margin-left:20px; margin-right:50px;" asp-area="" asp-page="/Marketpage">Perks</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>



        <!--body-->
    <div class="container-fluid">
        <main role="main" >
            @RenderBody()
        </main>
    </div>



    <!--footer-->
    <footer id = "footer" class="footer" style="background-color:#202320; height:60px;">
        <img class="footerlogo" src="~/images/logo.png" alt="logo" style="margin-left:20px;"/>
        <div Style="color:#ffffff;  font-size: 16px;  text-align:right; float:left; margin-top:15px; margin-right:-20px; width:98%;">
                            &copy; 2022 - Fallout-Tec
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function() {
$(".navregister").on("click", funtion(){
	localStorage.setItem("active", 1); 
    localStorage.setItem("station", "ArmourWorkbench"); 
});
$(".navhome").on("click", funtion(){
    	localStorage.setItem("active", 1);
        localStorage.setItem("station", "ArmourWorkbench"); 
});
$(".navinventory").on("click", funtion(){
    	localStorage.setItem("active", 1); 
        localStorage.setItem("station", "ArmourWorkbench"); 
});
$(".navcrafting").on("click", funtion(){
	localStorage.setItem("active", 1); 
    localStorage.setItem("station", "ArmourWorkbench"); 
});
$(".navlocation").on("click", funtion(){
    	localStorage.setItem("active", 1);
        localStorage.setItem("station", "ArmourWorkbench"); 
});
$(".navperks").on("click", funtion(){
	localStorage.setItem("active", 1); 
    localStorage.setItem("station", "ArmourWorkbench"); 
});








});
</script>






