html {
    font-size: 14px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
    margin: 0px;
    width: 100%;
    height: auto;
}

.container-fluid {
    margin: 0px;
    padding:0px;
    margin-bottom:-20px;
    width: 100%;
    min-height:950px;
}

.navtext{
    color:grey;
    text-decoration:none;
}

    .navtext:hover {
        color: #0067B1;
        text-decoration: none;
    }
/*Start of Main page Css*/
.logo {
    width: 110px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 1px;
}

.footerlogo {
    width: 110px;
    height: 60px;
    position: absolute;
    margin-left: 20px;
    margin-top: 1px;
}

.backgroundimages{
    width:100%;
}



/*End of Main page Css*/
/*Start of Login and Register page shared Css*/
.backgroundimg {
    width: 102%;
    margin-left:-20px;
    height: 1080px;
}

.logodark {
    width: 6%;
    height: 70px;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 1;
}

.regmessage {
    color: #ffffff;
    font-family: 'Aldrich', sans-serif;
    float:left;
    margin-left:15px;
    text-align:center;
    margin-right:15px;
    margin-top:25px;
    font-size: 26px;
    line-height: 0.9;
}

.regfail{
width:200px;
height:auto;
float:left;
margin-left:30%;
margin-right:30%;
}



/*End of Login and Register page shared Css*/
/*Start of Register page Css*/
.registerHeading {
    position: absolute;
    left: 60%;
    top: 40%;
    z-index: 1;
    color: #ffffff;
    font-family: 'Aldrich', sans-serif;
    font-size: 95px;
    line-height: 0.9;
}

.registertext {
    position: absolute;
    left: 61%;
    top: 58%;
    z-index: 1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    color: #ffffff;
}

.registerinfo {
    position: absolute;
    left: 15%;
    top: 30%;
    z-index: 1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333630;
}


.reg_username {
    width: 400px;
    height: 50px;
    position: absolute;
    left: 12%;
    top: 40%;
    z-index: 1;
    border: none;
    border-bottom: 2px solid #939393;
    background: none;
    font-family: 'Roboto', sans-serif;
}

.reg_email {
    width: 400px;
    height: 50px;
    position: absolute;
    left: 12%;
    top: 47%;
    z-index: 1;
    border: none;
    border-bottom: 2px solid #939393;
    background: none;
    font-family: 'Roboto', sans-serif;
}

.reg_password {
    width: 400px;
    height: 50px;
    position: absolute;
    left: 12%;
    top: 54%;
    z-index: 1;
    border: none;
    border-bottom: 2px solid #939393;
    background: none;
    font-family: 'Roboto', sans-serif;
}

.registernow {
    width: 400px;
    height: 60px;
    position: absolute;
    left: 12%;
    top: 75%;
    z-index: 1;
    background-color: #0067B1;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:26px;
    border:none;
}

.register_login_link {
    width: 400px;
    height: 60px;
    position: absolute;
    left: 14%;
    top: 84%;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight:200;
}

.popup {
    width: 500px;
    height: 430px;
    background-color: #0067B1;
    position: absolute;
    left: 35%;
    top: 25%;
    z-index: 100;
    border: 5px solid #FFEB33;
}



#closebutton {
    float: right;
    margin-right: 10px;
    margin-top: 10px;

}

/* End of Register page Css*/



/* Start of Home page Css*/
.background {
    width: 100%;
    margin-top: -21px;
    height: 5800px;
    background-color: #333630;


}

.aboutUs {
    width: 700px;
    height: 60px;
    position: absolute;
    left: 5%;
    top: 6%;
    z-index: 2;
    font-family: 'Aldrich', sans-serif;
    font-size: 108px;
    font-weight: 200;
    color: #ffffff;
}

.aboutUsDescription {
    width: 700px;
    height: auto;
    position: absolute;
    left: 60%;
    top: 7%;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: #ffffff;

}

.largeGear {
    width: 1200px;
    height: 1200px;
    position: absolute;
    left: 74%;
    top: 1%;
    z-index: 1;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.OurServices {
    width: 700px;
    height: auto;
    position: absolute;
    top:25%;
    left:35%;
    z-index: 2;
    font-family: 'Aldrich', sans-serif;
    font-size: 95px;
    font-weight: 200;
    color: #ffffff;
}


.largeBlueGear {
    width: 1100px;
    height: 1100px;
    position: absolute;
    left: -25%;
    top: 25%;
    z-index: 1;
    animation: rotation 10s infinite linear;
}

.craftbanner {
    width: 60%;
    height: 800px;
    position: absolute;
    left: -65%;
    top: 32%;
    z-index: 1;
    box-shadow: 10px 10px 10px -4px rgba(115,115,115,1);
}

.buildbanner {
    width: 60%;
    height: 800px;
    position: absolute;
    left: -65%;
    top: 50%;
    z-index: 1;
    box-shadow: 10px 10px 10px -4px rgba(115,115,115,1);
}

.invbanner {
    width: 60%;
    height: 800px;
    position: absolute;
    left: -65%;
    top: 68%;
    z-index: 1;
    box-shadow: 10px 10px 10px -4px rgba(115,115,115,1);
}

.bannerimg{
    width: 100%;
    height:100%;
}

.craftbanHeading {
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
    font-family: 'Aldrich', sans-serif;
    font-size: 105px;
    font-weight: 200;
    color: #ffffff;
    line-height: 0.8;
}


.buildbanHeading {
    position: absolute;
    right: 8%;
    top: 15%;
    z-index: 1;
    font-family: 'Aldrich', sans-serif;
    text-align: right;
    font-size: 105px;
    font-weight: 200;
    color: #ffffff;
    line-height: 0.8;
}

.invbanHeading {
    position: absolute;
    left: 10%;
    top: 25%;
    z-index: 1;
    font-family: 'Aldrich', sans-serif;
    font-size: 105px;
    font-weight: 200;
    color: #ffffff;
    line-height: 0.8;
}

.btncraftban {
    width: 450px;
    border:none;
    height: 70px;
    background-color: #FFEB33;
    position: absolute;
    left: 9%;
    bottom: 10%;
    text-align: center;
    z-index: 1;
    color: #181818;
    font-size:26px;
    font-family: 'Aldrich', sans-serif;
}

.btnbuildban {
    width: 450px;
    border: none;
    height: 70px;
    background-color: #FFEB33;
    position: absolute;
    right: 10%;
    top: 50%;
    text-align: center;
    z-index: 1;
    color: #181818;
    font-size: 26px;
    font-family: 'Aldrich', sans-serif;
}

.btninvban {
    width: 450px;
    border: none;
    height: 70px;
    background-color: #FFEB33;
    position: absolute;
    left: 33%;
    bottom: 10%;
    text-align: center;
    z-index: 1;
    color: #181818;
    font-size: 26px;
    font-family: 'Aldrich', sans-serif;
}

.LargeYellowGear {
    width: 700px;
    height: 700px;
    position: absolute;
    left: 10%;
    top: 65%;
    z-index: 0;
    animation: rotation 10s infinite linear;
    }

.contactUs {
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
    font-family: 'Aldrich', sans-serif;
    font-size: 105px;
    font-weight: 200;
    color: #ffffff;
    line-height: 0.8;
}

.contactUsDetails {
    width: 700px;
    height: auto;
    position: absolute;
    left: 60%;
    top: 91%;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: #ffffff;
    text-align:right;
}

.contactUsDetails1 {
    width: 700px;
    height: auto;
    position: absolute;
    left: 60%;
    top: 92%;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: #ffffff;
    text-align: right;
}



/* End of Home page Css*/



/* Start of Inventory page Css*/

.staticbackground {
    width: 100%;
    height:952px;
    margin-top: -21px;
    background-color: #333630;
}


.locationTab{
    width:200px;
    height:200px;
    float:left;
    margin-top:80px;
}

.backpacktab {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

    .backpacktab:hover {
        width: 220px;
        height: 50px;
        background-color: #0067B1;
        text-align: right;
        color: #ffffff;
        margin-top: 10px;
        font-size: 20px;
        padding-right: 15px;
        padding-top: 9px;
        font-family: 'Aldrich', sans-serif;
    }




.basetab {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}


.basetab:hover {
    width: 220px;
    height: 50px;
    background-color: #0067B1;
    text-align: right;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}


.Survivaltenttab {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.Survivaltenttab:hover {
    width: 220px;
    height: 50px;
    background-color: #0067B1;
    text-align: right;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.locationimg{
    width:30px;
    height:30px;
    float:left;
    margin-left:5px;
}

.topcontentinvholder {
    width: 84%;
    height: 70px;
    float: left;
    margin-left: 80px;
    margin-top: 90px;
}

.contentinvholder {
    width: 84%;
    height: 750px;
    float: left;
    margin-left: 80px;
    overflow-y: auto
}

.JunkAExtrasAGear {
    width: auto;
    height: 50px;
    text-align: right;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    float:left;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.invSearch {
    width: 340px;
    height: 60px;
    float: right;
    border: none;
    border-left: 4px solid #0067B1;
    border-top: 4px solid #0067B1;
    border-bottom: 4px solid #0067B1;
    background: none;
    padding: 10px;
    color: #FFEB33;
    font-family: 'Roboto', sans-serif;
}

.invsearchicon {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left:10px;
}

.invitemcards {
    width: 19rem;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 0;
    background-color: #202320;
}

.card-img-top {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.invitemname {
    width: 100%;
    height:auto;
    margin-top: 20px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #EAE295;
}

.searchiconcon {
    width: 60px;
    height: 60px;
    float: right;
    border: none;
    text-align:center;
    background-color: #333630;
    border-right: 4px solid #0067B1;
    border-top: 4px solid #0067B1;
    border-bottom: 4px solid #0067B1;
}

.updateinvblock {
    height: 50px;
    width: 20%;
    float: left;
    background-color: #FFEB33;
    margin: 0;
    border:none;

}

.updateiteminv {
    width: 30px;
    height: 30px;
    margin-left:8px;
    float: left;

}

.invupdate {
    width: 80%;
    height: 50px;
    float: left;
    border: none;
    border-left: 4px solid #0067B1;
    border-top: 4px solid #0067B1;
    border-bottom: 4px solid #0067B1;
    background: none;
    padding: 10px;
    color: #FFEB33;
    font-family: 'Roboto', sans-serif;
    background-color: #333630;
}

.card-body{
    margin:0;
    padding:0;
}



/* End of Inventory page Css*/

/* Start of Market page Css*/

.topcontentmarketholder {
    width: 90%;
    height: 70px;
    float: left;
    margin-left: 80px;
    margin-top: 90px;
}

.contentmarketholder {
    width: 90%;
    height: auto;
    margin-left: 110px;
    float: left;
    position: relative;
}


.perktree {
    width: 100%;
    height: auto;
}

.perktreeimg {
    width: 100%;
    height: auto;
}


    /* End of Market page Css*/




    /* Start of Crafting page Css*/

.craftingbenchcon{
    width:95%;
    height:200px;
    float:left;
    margin-left:2.5%;
    margin-top:50px;
}

.Workbench {
    height: 180px;
    width: 16%;
    float: left;
    margin-top:10px;
    margin-left:10px;
}


    .Workbench:hover {
        height: 180px;
        width: 16%;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        border-bottom: 5px solid #0067B1;
    }


.Workbenchimg {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}

.workbenchname {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    float: left;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}



.locationTabCrafting {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 20px;
}

.backpacktabCrafting {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.backpacktabCrafting:hover {
    width: 220px;
    height: 50px;
    background-color: #0067B1;
    text-align: right;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}



.basetabCrafting {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.basetabCrafting:hover {
    width: 220px;
    height: 50px;
    background-color: #0067B1;
    text-align: right;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.SurvivaltenttabCrafting {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.SurvivaltenttabCrafting:hover {
    width: 220px;
    height: 50px;
    background-color: #0067B1;
    text-align: right;
    color: #ffffff;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}


.Craftingcon{
    float:left;
    width: 80%;
    height:650px;
    margin-left:60px;
    overflow-y:scroll;
}

.workbenchitemtypes {
    width: 97%;
    height: 30px;
    float: left;
    margin-left:1.5%;
    background: none;
    padding: 10px;
    font-size: 26px;
    color: #EAE295;
    font-family: 'Roboto', sans-serif;
}

.craftitemcon {
    width: 97%;
    height: 150px;
    float: left;
    margin-top:15px;
    margin-left: 1.5%;
    background-color: #202320;
}

.craftitem {
    width: 9%;
    height: 94%;
    margin-left:5px;
    margin-top: 5px;
    float: left;
}

.equalsign {
    width: 2%;
    height: 94%;
    float: left;
    background: none;
    text-align: center;
    padding-top: 50px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 26px;
    color: #EAE295;
    font-family: 'Roboto', sans-serif;

    
}

.craftitemmaterial {
    width: 9%;
    height: 94%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;

}

.plussign {
    width: 1%;
    height: 94%;
    float: left;
    background: none;
    text-align: center;
    padding-top: 50px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 26px;
    color: #EAE295;
    font-family: 'Roboto', sans-serif;

}


.craftimage {
    width: 85px;
    height: 85px;
    margin-top: -15px;

}

.craftitemname {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    color: #EAE295;
    text-align: center;
    font-size: 16px;
    float: left;
    font-family: 'Roboto', sans-serif;

}


.craftitemname2 {
    text-align: center;
    width: 100%;
    margin-top: 2px;
    color: #EAE295;
    text-align: center;
    font-size: 16px;
    float: left;
    font-family: 'Roboto', sans-serif;

}


.craftbutton {
    height: 122px;
    color: #0067B1;
    font-size: 46px;
    width: 15%;
    border: none;
    background-color: #FFEB33;
    font-weight:500;
    float: right;
    margin-right: -15%;
}


.craftverify {
    height: 29px;
    color: #ffffff;
    background-color: #0067B1;
    font-size: 16px;
    width: 15%;
    text-align: center;
    border: 3px solid #FFEB33;
    float: right;
    margin-top: 122px;
}

.craftsuccessfail {
    width: 240px;
    height: 230px;
    background-color: #0067B1;
    position: absolute;
    left: 0%;
    top: 50%;
    z-index: 100;
    border: 5px solid #FFEB33;
}

.craftmessage {
    color: #ffffff;
    font-family: 'Aldrich', sans-serif;
    float: left;
    margin-left: 15px;
    text-align: center;
    margin-right: 15px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 0.9;
}

.craftedimg{
width:100%;
height:auto;
float:left;

}


/* End of Crafting page Css*/
/* Start of Location page Css*/
.locationTabLocation {
    width: 200px;
    height: 800px;
    float: left;
    margin-top: 80px;
}

.backpacktabLocation {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.basetabLocation {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.SurvivaltenttabLocation {
    width: 200px;
    height: 50px;
    background-color: #202320;
    text-align: right;
    color: #898989;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.locationtabbtn {
    width: 250px;
    height: 50px;
    background-color: #FFEB33;
    text-align: right;
    color: #040404;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 9px;
    font-family: 'Aldrich', sans-serif;
}

.mapcon {
    width: 810px;
    height: 810px;
    float: left;
    margin-left: 450px;
    margin-top: 80px;
    border: 5px solid #202320;
}

.map {
    width: 800px;
    height: 800px;
    float: left;
}

.chartcon {
    width: 500px;
    height: 800px;
    float: left;
    margin-left: 50px;
    margin-top: 80px;
}

.locationContent {
    width: 100%;
    height: 150px;
    background-color: #202320;
    float:left;
    margin-bottom:30px;

}

.locationdataText {
   float:left;
   margin-top:52px;
   margin-left:20px;
    text-align: Left;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
}

.itemdatalocation {
    width:100px;
    height:50px;
    position:absolute;
    margin-top: 52px;
    margin-left: 365px;

    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
}

.gearLocation {
    margin-top: 10px;
    margin-right: 20px;
    width: 130px;
    height: 130px;
    float: right;
}

.travel {
    width: 500px;
    height:300px;
    background-color: #202320;
   margin-top:500px;
   margin-left:70px;
   position:absolute;
}

.traveltext {
    float: left;
    margin-top: 32px;
    width:100%;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
}

.traveltext2 {
    float: left;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
}

.traveltextkm {
    float: left;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    color: #FFEB33;
    font-size: 46px;
    font-family: 'Aldrich', sans-serif;
}


.backpacktravel{
    width:32px;
    height:32px;
    margin-left:2px;
    margin-top:2px;

}

.basetravel {
    width: 32px;
    height: 32px;
    margin-left: 2px;
    margin-top: 2px;
}

.tenttravel {
    width: 32px;
    height: 32px;
    margin-left: 2px;
    margin-top: 2px;
}




/* End of Location page Css*/
/*Style scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #202320;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFEB33;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #0067B1;
    }



    /*font-family: 'Aldrich', sans-serif;
font-family: 'Roboto', sans-serif;*/

.profile_preview {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 17%;
    top: 27%;
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-clip: content-box;
    border-radius: 50%;
    object-fit: contain;
    background-position: center;
    background-size: contain;
}

#u_profile {
    width: 500px;
    height: 500px;
    left: 8%;
    top: 25%;
    z-index: 2;
}

.file_reg {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 24%;
    top: 41%;
    z-index: 2;
    border-radius: 50%;
    background-color: #0067B1;
}

.choose {
    color: #FFEB33;
    margin-top: 12px;
    margin-left: 16px;
}

#preview_image {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-clip: content-box;
    border-radius: 50%;
    object-fit: contain;
    background-position: center;
    background-size: contain;
}


