@page "/"
@model Fallout_tec.Pages.homepageModel
@{
}


<!--Link Css with page-->
<head>
	<script href="~css/site.css"></script>
	<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>

<!--Frontend-->
<div class="background">
	<div class="background-dark">
	<h1 class="aboutUs">About <br>Fallout-Tec</h1>
	<h3 class="aboutUsDescription">Fallout-Tec was founded by Pieter Venter to aid all <br> wasteland adventurers of Fallout 76. We are <br> passionate about the community and want to aid <br> all users to have a better ingame experience.</h3>
	<img class="largeGear" src="~/images/largeYellowGear.png" alt="gear"/> 
	<h1 class="OurServices">Our Services</h1>
	<img class="largeBlueGear" src="~/images/largeBlueGear.png" alt="gear"/> 
	<div class="craftbanner" id="craftbanner">
	<img class="bannerimg" src="~/images/craftbanner.png" alt="banner"/> 
	<h1 class="craftbanHeading">Craft to <br>your hearts <br>desire</h1>
	<a asp-area="" asp-page-handler="1" asp-page="/Craftingpage"><button class=btncraftban >Get Crafting Now</button></a>
	</div>
	<div class="buildbanner">
	<img class="bannerimg" src="~/images/buildbanner.png" alt="banner"/> 
	<h1 class="buildbanHeading">Build<br> Anywhere</h1>
		<a asp-area="" asp-page-handler="1" asp-page="/Locationpage"><button class="btnbuildban"  >Explore Locations </button></a>
	</div>
		<img class="LargeYellowGear" src="~/images/largeYellowGear.png" alt="gear"/> 
	<div class="invbanner">
	<img class="bannerimg" src="~/images/invbanner.png" alt="banner"/> 
	<h1 class="invbanHeading">Store <br> Anything</h1>
		<a asp-area="" asp-page-handler="1" asp-page="/Inventorypage"><button class=btninvban>Check Inventory</button></a>
	</div>
		<div class="perkbanner">
	<img class="bannerimg" src="~/images/perkbanner.png" alt="banner"/> 
		<a asp-area="" asp-page-handler="1" asp-page="/Marketpage"><button class=btnperkban>See Perks</button></a>
	</div>
	<h1 class="contactUs">Contact <br> Us</h1>
	<a href="mailto:fallouttec12@gmail.com"></><h1 class="contactUsDetails" >fallouttec12@gmail.com</h1></a>
	<a href="tel: 0825974456"><h1 class="contactUsDetails1" >0825974456</h1></a>
</div>
</div>
<style>

.background{
	    background-position: center;
		width:100%;
    background-image: url(../images/image3.jpg);
    background-attachment: fixed;

}

.background-dark{
    width: 100%;
    margin-top: -21px;
    height: 6800px;

	background-color: rgba(0, 0, 0, 0.6)
}

.navhome{
	color:#FFEB33;
}

</style>

<script>

	var images = ['image1.jpg', 'image2.webp', 'image3.jpg'];
$('.background').css({'background-image': 'url(images/' + images[Math.floor(Math.random() * images.length)] + ')'});

console.log()


$(window).scroll(function() {
	//scroll animation for first banner
if ($(this).scrollTop() > 1000) {
    $('.craftbanner').stop().animate({ left: "20%" });
} else {
   $('.craftbanner').stop().animate({ left: "-65%" });
}
	//scroll animation for second banner
if ($(this).scrollTop() > 2000) {
    $('.buildbanner').stop().animate({ left: "20%" });
} else {
   $('.buildbanner').stop().animate({ left: "-65%" });
}
	//scroll animation for third banner
if ($(this).scrollTop() > 3000) {
    $('.invbanner').stop().animate({ left: "20%" });
} else {
   $('.invbanner').stop().animate({ left: "-65%" });
}

	//scroll animation for fourth banner
if ($(this).scrollTop() > 4000) {
    $('.perkbanner').stop().animate({ left: "20%" });
} else {
   $('.perkbanner').stop().animate({ left: "-65%" });
}
});





</script>


