@page
@model Fallout_tec.Pages.loactionpageModel
@{
}



<!--Link Css with page-->
<head>

	<script href="~css/site.css"></script>
	<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>

<!--frontend-->
<div class="staticbackground">
	<div class="locationTabLocation ">
		<div class="backpacktabLocation locationtabbtn">
			<img class="locationimg" src="~/images/backpack.webp" alt="location"/>  
			Backpack
		</div>
		<div class="basetabLocation ">
			<img class="locationimg" src="~/images/base.webp" alt="location"/>  
			Base
		</div>
		<div class="SurvivaltenttabLocation ">
			<img class="locationimg" src="~/images/survivaltent.webp" alt="location"/>  
			Survival Tent
		</div>


	</div>
	<div class="mapcon">
		<img class="map" src="~/images/map.png" alt="location"/> 
	</div>
	<div class="chartcon">
		<canvas id="bar" width="400" height="400"></canvas>
	</div>
</div>



@foreach(var item in Model.InventoryItems)
{

}







	<script>
$(document).ready(function() {
	//onclick for location buttons/ for styling
$(".backpacktabLocation").click(function () {
    $(".basetabLocation").removeClass("locationtabbtn");
	$(".SurvivaltenttabLocation").removeClass("locationtabbtn");
    $(this).addClass("locationtabbtn");   
});
	//onclick for location buttons/ for styling
$(".basetabLocation").click(function () {
    $(".backpacktabLocation").removeClass("locationtabbtn");
	$(".SurvivaltenttabLocation").removeClass("locationtabbtn");
    $(this).addClass("locationtabbtn");   
});
	//onclick for location buttons/ for styling
$(".SurvivaltenttabLocation").click(function () {
    $(".basetabLocation").removeClass("locationtabbtn");
	$(".backpacktabLocation").removeClass("locationtabbtn");
    $(this).addClass("locationtabbtn");   
});
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script type="text/javascript">
    //Bar Chart
    var barchart = document.getElementById('bar').getContext('2d');
    var mybarchart = new Chart(barchart, {
        type: 'bar',
        data: {
            labels: ['1', '2', '3', '4', '5', '6'],
            datasets: [{
                label: 'Bar Chart',
                data: [100, 200, 300, 100, 250, 150],
                backgroundColor: '#dee2e6',
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            indexAxis: 'y',
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
  
</script>