@page
@model Fallout_tec.Pages.loactionpageModel
@{
}



<!--Link Css with page-->
<head>

	<script href="~css/site.css"></script>
	<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>

<!--frontend-->
<div class="staticbackground">
		<form method="post" asp-page-handler="location">
	<div class="locationTab ">


		<div  class="backpacktab locationtabbtn"  onclick="document.forms[0].submit()">
		 <input id=radio1 name=location type=radio value=1><label for=radio1>Backpack</label>
			<img class="locationimg" src="~/images/backpack.webp" alt="location"/> 		
		</div>


		<div   class="basetab " onclick="document.forms[0].submit()">
		 <input id=radio2 name=location type=radio value=2><label for=radio2>Base</label>
			<img class="locationimg" src="~/images/base.webp" alt="location"/>  
			
		</div>

		<div  class="Survivaltenttab " onclick="document.forms[0].submit()">
		 <input id=radio3 name=location type=radio value=3><label for=radio3>Survival Tent</label>
			<img class="locationimg" src="~/images/survivaltent.webp" alt="location"/>  
		
		</div>
		</div>
	</form>


	<div class="travel">
		<h1 class=traveltext>You’ve travelled</h1>
		<h1 id="travel" class=traveltextkm>6km</h1>
		<h1 class=traveltext2>since last visited</h1>
	</div>

	<div class="mapcon">
		<img class="map" src="~/images/map.png" alt="location"/>
<div class="main">
  <div class="img-1"><img class="backpacktravel" src="~/images/backpack.webp" alt="gear"/></div>
  <div class="img-2"><img class="basetravel" src="~/images/base.webp" alt="gear"/></div>
  <div class="img-3"><img class="tenttravel" src="~/images/survivaltent.webp" alt="gear"/></div>
</div>
	</div>
	<div class="chartcon">
		<div class="locationContent">
			<h1 class="locationdataText">Junk</h1>
				<img class="gearLocation" src="~/images/largeBlueGear.png" alt="gear"/> 
				<p class="itemdatalocation">@Model.InventoryItemsJunk.Count</p>	
		</div>
		<div class="locationContent">
			<h1 class="locationdataText">Extras</h1>
				<img class="gearLocation" src="~/images/largeBlueGear.png" alt="gear"/> 
				<p class="itemdatalocation">@Model.InventoryItemsExtras.Count</p>	
		</div>
		<div class="locationContent">
			<h1 class="locationdataText">Craftable</h1>
				<img class="gearLocation" src="~/images/largeBlueGear.png" alt="gear"/> 
				<p class="itemdatalocation">@Model.InventoryItemsCraftable.Count</p>	
		</div>

	</div>
</div>




<style>
#radio1 {
    display: none;
    /*visibility: hidden;*/
}

#radio2 {
    display: none;
    /*visibility: hidden;*/
}

#radio3 {
    display: none;
    /*visibility: hidden;*/
}

.random{
  width: 60px;
  height: 60px;
  position: absolute;
}

.main {
  width: 95%;
  height: 95%;
  margin: 25px;
  position: relative;
}

.img-1 {
  width: 40px;
  height: 40px;
  border-radius:20px;
  background-color: #FFEB33;
  color: white;
  position: absolute;
}

.img-2 {
  width: 40px;
  height: 40px;
    border-radius:20px;
  background-color: #FFEB33;
  color: white;
  position: absolute;
}

.img-3 {
  width: 40px;
  height: 40px;
    border-radius:20px;
  background-color: #FFEB33;
  color: white;
  position: absolute;
}

.navlocation{
	color:#FFEB33;
}



</style>






<script>
$(document).ready(function() {
	//onclick for location buttons/ for styling
$(".backpacktab").click(function () {
	localStorage.setItem("active", 1);  
});
	//onclick for location buttons/ for styling
$(".basetab").click(function () {
	localStorage.setItem("active", 2);  
});
	//onclick for location buttons/ for styling
$(".Survivaltenttab").click(function () {
	localStorage.setItem("active", 3);  
});

	let activeclass = localStorage.getItem("active");
	console.log(activeclass)



if(activeclass == 1){
	$(".backpacktab").addClass("locationtabbtn");
    $(".basetab").removeClass("locationtabbtn");
	$(".Survivaltenttab").removeClass("locationtabbtn");
	$(".img-1").css("border", "3px solid #0094FF");
	$(".img-2").css("border", "3px solid #FFEB33");
	$(".img-3").css("border", "3px solid #FFEB33");
}else if(activeclass == 2){
    $(".basetab").addClass("locationtabbtn");
    $(".backpacktab").removeClass("locationtabbtn");
	$(".Survivaltenttab").removeClass("locationtabbtn");
	$(".img-1").css("border", "3px solid #FFEB33");
	$(".img-2").css("border", "3px solid #0094FF");
	$(".img-3").css("border", "3px solid #FFEB33");
}else if(activeclass == 3){
	$(".Survivaltenttab").addClass("locationtabbtn");
    $(".basetab").removeClass("locationtabbtn");
	$(".backpacktab").removeClass("locationtabbtn");
	$(".img-1").css("border", "3px solid #FFEB33");
	$(".img-2").css("border", "3px solid #FFEB33");
	$(".img-3").css("border", "3px solid #0094FF");
}


document.getElementById("travel").innerHTML =
Math.floor(Math.random() * 100) + " km";





});



$(".img-1, .img-2, .img-3").each(function(index) {
  $(this).css({
    left: Math.random() * ($(".main").width() - $(this).width()),
    top: Math.random() * ($(".main").height() - $(this).height())
  });
});


</script>


