@page
@model Fallout_tec.Pages.LoginpageModel
@{
}


<!--Link Css with page-->
<head><script href="~css/site.css"></script></head>

<!--Frontend-->
<img class="backgroundimg" src="~/images/background.png" alt="background"/>  
<img class="logodark" src="~/images/logoDark.png" alt="logo"/>  
<h1 class="loginHeading">Welcome<br> Back</h1>

<!--Input field collect data-->
<input class="login_username" type="text" placeholder="Username"/>
<input class="login_password" type="password" placeholder="Password"/>



<!--submit btn & go to login href-->
<button class="loginnow">Login</button>
<h5 class="login_register_link">Don’t have an account? <a style="text-decoration:none;" asp-area="" asp-page="/registerpage"><strong style="color:#0067B1;"> Register here</strong></a></h5>

 




<!--remove header from page-->
<style type="text/css">
#footer
{
 display:none;
}

</style>

<script>
//remove header from page
document.getElementsByClassName('navbar')[0].remove();

</script>