@page "/Perks"
@model Fallout_tec.Pages.MarketpageModel
@{
}
<!--Link Css with page-->
<head><script href="~css/site.css"></script></head>

<!--frontend-->
<div class="staticbackground">

	<div class="topcontentmarketholder">
        <h1 style="text-align:center; color:#ffffff; margin-bottom:20px;">See All Perks</h1>
		


	<div class="contentmarketholder">
	<img src="~/images/perktree.png" class="perktreeimg" alt="marketimage" style="float:left;">
    
        <div class="perktreecon">
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR1 Lvl required: 1"><img src="~/images/perk1.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER1 Lvl required: 1"><img src="~/images/perk2.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END1 Lvl required: 1"><img src="~/images/perk3.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR1 Lvl required: 1"><img src="~/images/perk4.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT1 Lvl required: 1"><img src="~/images/perk5.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI1 Lvl required: 1"><img src="~/images/perk6.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK1 Lvl required: 1"><img src="~/images/perk7.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR2 Lvl required: 5"><img src="~/images/perk8.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER2 Lvl required: 5"><img src="~/images/perk9.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END2 Lvl required: 5"><img src="~/images/perk10.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR2 Lvl required: 5"><img src="~/images/perk11.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT2 Lvl required: 5"><img src="~/images/perk12.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI2 Lvl required: 5"><img src="~/images/perk13.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK2 Lvl required: 5"><img src="~/images/perk14.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR3 Lvl required: 8"><img src="~/images/perk15.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER3 Lvl required: 8"><img src="~/images/perk16.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END3 Lvl required: 10"><img src="~/images/perk17.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR3 Lvl required: 10"><img src="~/images/perk18.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT3 Lvl required: 12"><img src="~/images/perk19.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI3 Lvl required: 8"><img src="~/images/perk20.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK3 Lvl required: 6"><img src="~/images/perk21.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR4 Lvl required: 15"><img src="~/images/perk22.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER4 Lvl required: 15"><img src="~/images/perk23.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END4 Lvl required: 15"><img src="~/images/perk24.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR4 Lvl required: 15"><img src="~/images/perk25.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT4 Lvl required: 17"><img src="~/images/perk26.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI4 Lvl required: 15"><img src="~/images/perk27.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK4 Lvl required: 12"><img src="~/images/perk28.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR5 Lvl required: 20"><img src="~/images/perk29.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER5 Lvl required: 20"><img src="~/images/perk30.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END5 Lvl required: 20"><img src="~/images/perk31.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR5 Lvl required: 20"><img src="~/images/perk32.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT5 Lvl required: 20"><img src="~/images/perk33.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI5 Lvl required: 20"><img src="~/images/perk34.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK5 Lvl required: 15"><img src="~/images/perk35.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR6 Lvl required: 25"><img src="~/images/perk36.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER6 Lvl required: 25"><img src="~/images/perk37.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END6 Lvl required: 28"><img src="~/images/perk38.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR6 Lvl required: 25"><img src="~/images/perk39.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT6 Lvl required: 28"><img src="~/images/perk40.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI6 Lvl required: 25"><img src="~/images/perk41.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK6 Lvl required: 20"><img src="~/images/perk42.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR7 Lvl required: 30"><img src="~/images/perk43.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER7 Lvl required: 30"><img src="~/images/perk44.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END7 Lvl required: 30"><img src="~/images/perk45.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR7 Lvl required: 30"><img src="~/images/perk46.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT7 Lvl required: 35"><img src="~/images/perk47.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI7 Lvl required: 30"><img src="~/images/perk48.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK7 Lvl required: 28"><img src="~/images/perk49.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR8 Lvl required: 40"><img src="~/images/perk50.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER8 Lvl required: 40"><img src="~/images/perk51.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END8 Lvl required: 40"><img src="~/images/perk52.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR8 Lvl required: 40"><img src="~/images/perk53.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT8 Lvl required: 40"><img src="~/images/perk54.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI8 Lvl required: 40"><img src="~/images/perk55.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK8 Lvl required: 40"><img src="~/images/perk56.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR9 Lvl required: 45"><img src="~/images/perk57.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER9 Lvl required: 45"><img src="~/images/perk58.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END9 Lvl required: 47"><img src="~/images/perk59.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR9 Lvl required: 45"><img src="~/images/perk60.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT9 Lvl required: 47"><img src="~/images/perk61.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI9 Lvl required: 45"><img src="~/images/perk62.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK9 Lvl required: 45"><img src="~/images/perk63.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="STR10 Lvl required: 50"><img src="~/images/perk64.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="PER10 Lvl required: 50"><img src="~/images/perk65.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="END10 Lvl required: 50"><img src="~/images/perk66.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="CHR10 Lvl required: 50"><img src="~/images/perk67.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="INT10 Lvl required: 50"><img src="~/images/perk68.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="AGI10 Lvl required: 50"><img src="~/images/perk69.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon"  data-toggle="tooltip" data-placement="bottom" title="LCK10 Lvl required: 50"><img src="~/images/perk70.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>

    </div>



	</div>

	</div>


</div>

<style>
.container-fluid {
    margin: 0px;
    padding:0px;
    margin-bottom:-20px;
    width: 100%;
    height:2670px;
}

.staticbackground {
    width: 100%;
    margin-top: -21px;
    height: 2650px;
    background-color: #333630;

}

.perktreecon{
  width: 84.4%;
  height: 70%;
  margin-left:12%;
    margin-top:24%;

   position: absolute;


}

.perkcon{
height:10%;
width:14.1%;
float:left;


}

.navperks{
	color:#FFEB33;
}

.visible{
    opacity:1;
}
.hidden{
    opacity:0.0001;
}

.tooltip-inner {
    background-color: #0067B1;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #0067B1 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #0067B1 !important;
}



</style>

<script>
$(document).ready(function() {



$(".perktree").click(function() {
    $(this).toggleClass("visible").toggleClass("hidden");

});


    $(".perkcon").tooltip();

});

</script>
