@page
@model Fallout_tec.Pages.MarketpageModel
@{
}
<!--Link Css with page-->
<head><script href="~css/site.css"></script></head>

<!--frontend-->
<div class="staticbackground">

	<div class="topcontentmarketholder">
			<h1 class="JunkAExtrasAGearMarket" style="margin-left:20px;">Market Items</h1>
			<div class="searchiconcon">
			<img class="marketsearchicon" src="~/images/searchicon.png" alt="searchicon"/> 
			</div>
			<input class="marketSearch" type="text"/>
			</div>


				<div class="contentmarketholder">
					<div class="card marketitemcards">
						 <img src="~/images/updateicon.png" class="card-img-top" alt="marketimage">
						 <h1 class="marketitemname">Asbestos</h1>
					 <div class="card-body">
						<div class="updatemarketblock">
							<h3 class="itempricemarket">1</h3>
							<img class="updateitemmarket" src="~/images/caps.png" alt="searchicon"/> 
						</div>
							<input class="marketupdate" type="text"/>
					</div>
					
				</div>


				</div>





</div>
