@page "/Perks"
@model Fallout_tec.Pages.MarketpageModel
@{
}
<!--Link Css with page-->
<head><script href="~css/site.css"></script></head>

<!--frontend-->
<div class="staticbackground">

	<div class="topcontentmarketholder">
        <h1 style="text-align:center; color:#ffffff; margin-bottom:20px;">See All Perks</h1>
		


	<div class="contentmarketholder">
	<img src="~/images/perktree.png" class="perktreeimg" alt="marketimage" style="float:left;">
    
        <div class="perktreecon">
             <div class="perkcon perk1"  data-toggle="tooltip" data-placement="bottom" title="STR1 Lvl required: 1"><img src="~/images/perk1.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk2"  data-toggle="tooltip" data-placement="bottom" title="PER1 Lvl required: 1"><img src="~/images/perk2.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk3"  data-toggle="tooltip" data-placement="bottom" title="END1 Lvl required: 1"><img src="~/images/perk3.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk4"  data-toggle="tooltip" data-placement="bottom" title="CHR1 Lvl required: 1"><img src="~/images/perk4.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk5"  data-toggle="tooltip" data-placement="bottom" title="INT1 Lvl required: 1"><img src="~/images/perk5.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk6"  data-toggle="tooltip" data-placement="bottom" title="AGI1 Lvl required: 1"><img src="~/images/perk6.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk7"  data-toggle="tooltip" data-placement="bottom" title="LCK1 Lvl required: 1"><img src="~/images/perk7.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk8"  data-toggle="tooltip" data-placement="bottom" title="STR2 Lvl required: 5"><img src="~/images/perk8.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk9"  data-toggle="tooltip" data-placement="bottom" title="PER2 Lvl required: 5"><img src="~/images/perk9.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk10"  data-toggle="tooltip" data-placement="bottom" title="END2 Lvl required: 5"><img src="~/images/perk10.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-2px;"></div>
             <div class="perkcon perk11"  data-toggle="tooltip" data-placement="bottom" title="CHR2 Lvl required: 5"><img src="~/images/perk11.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-5px;"></div>
             <div class="perkcon perk12"  data-toggle="tooltip" data-placement="bottom" title="INT2 Lvl required: 5"><img src="~/images/perk12.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-6px;"></div>
             <div class="perkcon perk13"  data-toggle="tooltip" data-placement="bottom" title="AGI2 Lvl required: 5"><img src="~/images/perk13.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-8px;"></div>
             <div class="perkcon perk14"  data-toggle="tooltip" data-placement="bottom" title="LCK2 Lvl required: 5"><img src="~/images/perk14.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk15"  data-toggle="tooltip" data-placement="bottom" title="STR3 Lvl required: 8"><img src="~/images/perk15.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk16"  data-toggle="tooltip" data-placement="bottom" title="PER3 Lvl required: 8"><img src="~/images/perk16.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk17"  data-toggle="tooltip" data-placement="bottom" title="END3 Lvl required: 10"><img src="~/images/perk17.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-2px;"></div>
             <div class="perkcon perk18"  data-toggle="tooltip" data-placement="bottom" title="CHR3 Lvl required: 10"><img src="~/images/perk18.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-5px;"></div>
             <div class="perkcon perk19"  data-toggle="tooltip" data-placement="bottom" title="INT3 Lvl required: 12"><img src="~/images/perk19.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-6px;"></div>
             <div class="perkcon perk20"  data-toggle="tooltip" data-placement="bottom" title="AGI3 Lvl required: 8"><img src="~/images/perk20.png" class="perktree hidden" alt="marketimage" style="float:left;  margin-left:-8px;"></div>
             <div class="perkcon perk21"  data-toggle="tooltip" data-placement="bottom" title="LCK3 Lvl required: 6"><img src="~/images/perk21.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk22"  data-toggle="tooltip" data-placement="bottom" title="STR4 Lvl required: 15"><img src="~/images/perk22.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk23"  data-toggle="tooltip" data-placement="bottom" title="PER4 Lvl required: 15"><img src="~/images/perk23.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk24"  data-toggle="tooltip" data-placement="bottom" title="END4 Lvl required: 15"><img src="~/images/perk24.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk25"  data-toggle="tooltip" data-placement="bottom" title="CHR4 Lvl required: 15"><img src="~/images/perk25.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk26"  data-toggle="tooltip" data-placement="bottom" title="INT4 Lvl required: 17"><img src="~/images/perk26.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk27"  data-toggle="tooltip" data-placement="bottom" title="AGI4 Lvl required: 15"><img src="~/images/perk27.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk28"  data-toggle="tooltip" data-placement="bottom" title="LCK4 Lvl required: 12"><img src="~/images/perk28.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk29"  data-toggle="tooltip" data-placement="bottom" title="STR5 Lvl required: 20"><img src="~/images/perk29.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk30"  data-toggle="tooltip" data-placement="bottom" title="PER5 Lvl required: 20"><img src="~/images/perk30.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk31"  data-toggle="tooltip" data-placement="bottom" title="END5 Lvl required: 20"><img src="~/images/perk31.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk32"  data-toggle="tooltip" data-placement="bottom" title="CHR5 Lvl required: 20"><img src="~/images/perk32.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk33"  data-toggle="tooltip" data-placement="bottom" title="INT5 Lvl required: 20"><img src="~/images/perk33.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk34"  data-toggle="tooltip" data-placement="bottom" title="AGI5 Lvl required: 20"><img src="~/images/perk34.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk35"  data-toggle="tooltip" data-placement="bottom" title="LCK5 Lvl required: 15"><img src="~/images/perk35.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk36"  data-toggle="tooltip" data-placement="bottom" title="STR6 Lvl required: 25"><img src="~/images/perk36.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk37"  data-toggle="tooltip" data-placement="bottom" title="PER6 Lvl required: 25"><img src="~/images/perk37.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk38"  data-toggle="tooltip" data-placement="bottom" title="END6 Lvl required: 28"><img src="~/images/perk38.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk39"  data-toggle="tooltip" data-placement="bottom" title="CHR6 Lvl required: 25"><img src="~/images/perk39.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk40"  data-toggle="tooltip" data-placement="bottom" title="INT6 Lvl required: 28"><img src="~/images/perk40.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk41"  data-toggle="tooltip" data-placement="bottom" title="AGI6 Lvl required: 25"><img src="~/images/perk41.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk42"  data-toggle="tooltip" data-placement="bottom" title="LCK6 Lvl required: 20"><img src="~/images/perk42.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk43"  data-toggle="tooltip" data-placement="bottom" title="STR7 Lvl required: 30"><img src="~/images/perk43.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk44"  data-toggle="tooltip" data-placement="bottom" title="PER7 Lvl required: 30"><img src="~/images/perk44.png" class="perktree hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk45"  data-toggle="tooltip" data-placement="bottom" title="END7 Lvl required: 30"><img src="~/images/perk45.png" class="perktree hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk46"  data-toggle="tooltip" data-placement="bottom" title="CHR7 Lvl required: 30"><img src="~/images/perk46.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk47"  data-toggle="tooltip" data-placement="bottom" title="INT7 Lvl required: 35"><img src="~/images/perk47.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk48"  data-toggle="tooltip" data-placement="bottom" title="AGI7 Lvl required: 30"><img src="~/images/perk48.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk49"  data-toggle="tooltip" data-placement="bottom" title="LCK7 Lvl required: 28"><img src="~/images/perk49.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk50"  data-toggle="tooltip" data-placement="bottom" title="STR8 Lvl required: 40"><img src="~/images/perk50.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk51"  data-toggle="tooltip" data-placement="bottom" title="PER8 Lvl required: 40"><img src="~/images/perk51.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk52"  data-toggle="tooltip" data-placement="bottom" title="END8 Lvl required: 40"><img src="~/images/perk52.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk53"  data-toggle="tooltip" data-placement="bottom" title="CHR8 Lvl required: 40"><img src="~/images/perk53.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk54"  data-toggle="tooltip" data-placement="bottom" title="INT8 Lvl required: 40"><img src="~/images/perk54.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk55"  data-toggle="tooltip" data-placement="bottom" title="AGI8 Lvl required: 40"><img src="~/images/perk55.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk56"  data-toggle="tooltip" data-placement="bottom" title="LCK8 Lvl required: 40"><img src="~/images/perk56.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk57"  data-toggle="tooltip" data-placement="bottom" title="STR9 Lvl required: 45"><img src="~/images/perk57.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk58"  data-toggle="tooltip" data-placement="bottom" title="PER9 Lvl required: 45"><img src="~/images/perk58.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk59"  data-toggle="tooltip" data-placement="bottom" title="END9 Lvl required: 47"><img src="~/images/perk59.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk60"  data-toggle="tooltip" data-placement="bottom" title="CHR9 Lvl required: 45"><img src="~/images/perk60.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk61"  data-toggle="tooltip" data-placement="bottom" title="INT9 Lvl required: 47"><img src="~/images/perk61.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk62"  data-toggle="tooltip" data-placement="bottom" title="AGI9 Lvl required: 45"><img src="~/images/perk62.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk63"  data-toggle="tooltip" data-placement="bottom" title="LCK9 Lvl required: 45"><img src="~/images/perk63.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>
             <div class="perkcon perk64"  data-toggle="tooltip" data-placement="bottom" title="STR10 Lvl required: 50"><img src="~/images/perk64.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk65"  data-toggle="tooltip" data-placement="bottom" title="PER10 Lvl required: 50"><img src="~/images/perk65.png" class="perktree  hidden" alt="marketimage" style="float:left;"></div>
             <div class="perkcon perk66"  data-toggle="tooltip" data-placement="bottom" title="END10 Lvl required: 50"><img src="~/images/perk66.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-2px;"></div>
             <div class="perkcon perk67"  data-toggle="tooltip" data-placement="bottom" title="CHR10 Lvl required: 50"><img src="~/images/perk67.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-5px;"></div>
             <div class="perkcon perk68"  data-toggle="tooltip" data-placement="bottom" title="INT10 Lvl required: 50"><img src="~/images/perk68.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-6px;"></div>
             <div class="perkcon perk69"  data-toggle="tooltip" data-placement="bottom" title="AGI10 Lvl required: 50"><img src="~/images/perk69.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-8px;"></div>
             <div class="perkcon perk70"  data-toggle="tooltip" data-placement="bottom" title="LCK10 Lvl required: 50"><img src="~/images/perk70.png" class="perktree  hidden" alt="marketimage" style="float:left; margin-left:-11px;"></div>

    </div>



	</div>

	</div>


</div>

<style>
.container-fluid {
    margin: 0px;
    padding:0px;
    margin-bottom:-20px;
    width: 100%;
    height:2670px;
}

.staticbackground {
    width: 100%;
    margin-top: -21px;
    height: 2650px;
    background-color: #333630;

}

.perktreecon{
  width: 84.4%;
  height: 70%;
  margin-left:12%;
    margin-top:24%;

   position: absolute;


}

.perkcon{
height:10%;
width:14.1%;
float:left;


}

.navperks{
	color:#FFEB33;
}

.visible{
    opacity:1;
}
.hidden{
    opacity:0.0001;
}

.tooltip-inner {
    background-color: #0067B1;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #0067B1 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #0067B1 !important;
}



</style>

<script>
$(document).ready(function() {





$(".perk1").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk1", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk1", 0); 
    }

});

let activeclass1 = localStorage.getItem("perk1");


if(activeclass1 == 1){

    if($(".perk1").children(".perktree").hasClass("hidden")){
        $(".perk1").children(".perktree").addClass("visible")
        $(".perk1").children(".perktree").removeClass("hidden")
    }

}else if(activeclass1 == 0){
    if($(".perk1").children(".perktree").hasClass("visible")){
        $(".perk1").children(".perktree").addClass("hidden")
        $(".perk1").children(".perktree").removeClass("visible")
    }
}

$(".perk2").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk2", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk2", 0); 
    }

});

let activeclass2 = localStorage.getItem("perk2");


if(activeclass2 == 1){

    if($(".perk2").children(".perktree").hasClass("hidden")){
        $(".perk2").children(".perktree").addClass("visible")
        $(".perk2").children(".perktree").removeClass("hidden")
    }

}else if(activeclass2 == 0){
    if($(".perk2").children(".perktree").hasClass("visible")){
        $(".perk2").children(".perktree").addClass("hidden")
        $(".perk2").children(".perktree").removeClass("visible")
    }
}


$(".perk3").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk3", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk3", 0); 
    }

});

let activeclass3 = localStorage.getItem("perk3");


if(activeclass3 == 1){

    if($(".perk3").children(".perktree").hasClass("hidden")){
        $(".perk3").children(".perktree").addClass("visible")
        $(".perk3").children(".perktree").removeClass("hidden")
    }

}else if(activeclass3 == 0){
    if($(".perk3").children(".perktree").hasClass("visible")){
        $(".perk3").children(".perktree").addClass("hidden")
        $(".perk3").children(".perktree").removeClass("visible")
    }
}



$(".perk4").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk4", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk4", 0); 
    }

});

let activeclass4 = localStorage.getItem("perk4");


if(activeclass4 == 1){

    if($(".perk4").children(".perktree").hasClass("hidden")){
        $(".perk4").children(".perktree").addClass("visible")
        $(".perk4").children(".perktree").removeClass("hidden")
    }

}else if(activeclass4 == 0){
    if($(".perk4").children(".perktree").hasClass("visible")){
        $(".perk4").children(".perktree").addClass("hidden")
        $(".perk4").children(".perktree").removeClass("visible")
    }
}


$(".perk5").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk5", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk5", 0); 
    }

});

let activeclass5 = localStorage.getItem("perk2");


if(activeclass5 == 1){

    if($(".perk5").children(".perktree").hasClass("hidden")){
        $(".perk5").children(".perktree").addClass("visible")
        $(".perk5").children(".perktree").removeClass("hidden")
    }

}else if(activeclass5== 0){
    if($(".perk5").children(".perktree").hasClass("visible")){
        $(".perk5").children(".perktree").addClass("hidden")
        $(".perk5").children(".perktree").removeClass("visible")
    }
}




$(".perk6").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk6", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk6", 0); 
    }

});

let activeclass6 = localStorage.getItem("perk6");


if(activeclass6 == 1){

    if($(".perk6").children(".perktree").hasClass("hidden")){
        $(".perk6").children(".perktree").addClass("visible")
        $(".perk6").children(".perktree").removeClass("hidden")
    }

}else if(activeclass6 == 0){
    if($(".perk6").children(".perktree").hasClass("visible")){
        $(".perk6").children(".perktree").addClass("hidden")
        $(".perk6").children(".perktree").removeClass("visible")
    }
}



$(".perk7").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk7", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk7", 0); 
    }

});

let activeclass7 = localStorage.getItem("perk7");


if(activeclass7 == 1){

    if($(".perk7").children(".perktree").hasClass("hidden")){
        $(".perk7").children(".perktree").addClass("visible")
        $(".perk7").children(".perktree").removeClass("hidden")
    }

}else if(activeclass7 == 0){
    if($(".perk7").children(".perktree").hasClass("visible")){
        $(".perk7").children(".perktree").addClass("hidden")
        $(".perk7").children(".perktree").removeClass("visible")
    }
}


$(".perk8").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk8", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk8", 0); 
    }

});

let activeclass8 = localStorage.getItem("perk8");


if(activeclass8 == 1){

    if($(".perk8").children(".perktree").hasClass("hidden")){
        $(".perk8").children(".perktree").addClass("visible")
        $(".perk8").children(".perktree").removeClass("hidden")
    }

}else if(activeclass8 == 0){
    if($(".perk8").children(".perktree").hasClass("visible")){
        $(".perk8").children(".perktree").addClass("hidden")
        $(".perk8").children(".perktree").removeClass("visible")
    }
}


$(".perk9").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk9", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk9", 0); 
    }

});

let activeclass9 = localStorage.getItem("perk9");


if(activeclass9 == 1){

    if($(".perk9").children(".perktree").hasClass("hidden")){
        $(".perk9").children(".perktree").addClass("visible")
        $(".perk9").children(".perktree").removeClass("hidden")
    }

}else if(activeclass9 == 0){
    if($(".perk9").children(".perktree").hasClass("visible")){
        $(".perk9").children(".perktree").addClass("hidden")
        $(".perk9").children(".perktree").removeClass("visible")
    }
}


$(".perk10").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk10", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk10", 0); 
    }

});

let activeclass10 = localStorage.getItem("perk10");


if(activeclass10 == 1){

    if($(".perk10").children(".perktree").hasClass("hidden")){
        $(".perk10").children(".perktree").addClass("visible")
        $(".perk10").children(".perktree").removeClass("hidden")
    }

}else if(activeclass2 == 0){
    if($(".perk10").children(".perktree").hasClass("visible")){
        $(".perk10").children(".perktree").addClass("hidden")
        $(".perk10").children(".perktree").removeClass("visible")
    }
}


$(".perk11").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk11", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk11", 0); 
    }

});

let activeclass11 = localStorage.getItem("perk11");


if(activeclass11 == 1){

    if($(".perk11").children(".perktree").hasClass("hidden")){
        $(".perk11").children(".perktree").addClass("visible")
        $(".perk11").children(".perktree").removeClass("hidden")
    }

}else if(activeclass11 == 0){
    if($(".perk11").children(".perktree").hasClass("visible")){
        $(".perk11").children(".perktree").addClass("hidden")
        $(".perk11").children(".perktree").removeClass("visible")
    }
}


$(".perk12").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk12", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk12", 0); 
    }

});

let activeclass12 = localStorage.getItem("perk12");


if(activeclass12 == 1){

    if($(".perk12").children(".perktree").hasClass("hidden")){
        $(".perk12").children(".perktree").addClass("visible")
        $(".perk12").children(".perktree").removeClass("hidden")
    }

}else if(activeclass12 == 0){
    if($(".perk12").children(".perktree").hasClass("visible")){
        $(".perk12").children(".perktree").addClass("hidden")
        $(".perk12").children(".perktree").removeClass("visible")
    }
}



$(".perk13").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk13", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk13", 0); 
    }

});

let activeclass13 = localStorage.getItem("perk13");


if(activeclass13 == 1){

    if($(".perk13").children(".perktree").hasClass("hidden")){
        $(".perk13").children(".perktree").addClass("visible")
        $(".perk13").children(".perktree").removeClass("hidden")
    }

}else if(activeclass13 == 0){
    if($(".perk13").children(".perktree").hasClass("visible")){
        $(".perk13").children(".perktree").addClass("hidden")
        $(".perk13").children(".perktree").removeClass("visible")
    }
}


$(".perk14").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk14", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk14", 0); 
    }

});

let activeclass14 = localStorage.getItem("perk14");


if(activeclass14 == 1){

    if($(".perk14").children(".perktree").hasClass("hidden")){
        $(".perk14").children(".perktree").addClass("visible")
        $(".perk14").children(".perktree").removeClass("hidden")
    }

}else if(activeclass14 == 0){
    if($(".perk14").children(".perktree").hasClass("visible")){
        $(".perk14").children(".perktree").addClass("hidden")
        $(".perk14").children(".perktree").removeClass("visible")
    }
}


$(".perk15").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk15", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk15", 0); 
    }

});

let activeclass15 = localStorage.getItem("perk15");


if(activeclass15 == 1){

    if($(".perk15").children(".perktree").hasClass("hidden")){
        $(".perk15").children(".perktree").addClass("visible")
        $(".perk15").children(".perktree").removeClass("hidden")
    }

}else if(activeclass15 == 0){
    if($(".perk15").children(".perktree").hasClass("visible")){
        $(".perk15").children(".perktree").addClass("hidden")
        $(".perk15").children(".perktree").removeClass("visible")
    }
}


$(".perk16").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk16", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk16", 0); 
    }

});

let activeclass16 = localStorage.getItem("perk16");


if(activeclass16 == 1){

    if($(".perk16").children(".perktree").hasClass("hidden")){
        $(".perk16").children(".perktree").addClass("visible")
        $(".perk16").children(".perktree").removeClass("hidden")
    }

}else if(activeclass16 == 0){
    if($(".perk16").children(".perktree").hasClass("visible")){
        $(".perk16").children(".perktree").addClass("hidden")
        $(".perk16").children(".perktree").removeClass("visible")
    }
}


$(".perk17").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk17", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk17", 0); 
    }

});

let activeclass17 = localStorage.getItem("perk17");


if(activeclass17 == 1){

    if($(".perk17").children(".perktree").hasClass("hidden")){
        $(".perk17").children(".perktree").addClass("visible")
        $(".perk17").children(".perktree").removeClass("hidden")
    }

}else if(activeclass17 == 0){
    if($(".perk17").children(".perktree").hasClass("visible")){
        $(".perk17").children(".perktree").addClass("hidden")
        $(".perk17").children(".perktree").removeClass("visible")
    }
}


$(".perk18").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk18", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk18", 0); 
    }

});

let activeclass18 = localStorage.getItem("perk18");


if(activeclass18 == 1){

    if($(".perk18").children(".perktree").hasClass("hidden")){
        $(".perk18").children(".perktree").addClass("visible")
        $(".perk18").children(".perktree").removeClass("hidden")
    }

}else if(activeclass18 == 0){
    if($(".perk18").children(".perktree").hasClass("visible")){
        $(".perk18").children(".perktree").addClass("hidden")
        $(".perk18").children(".perktree").removeClass("visible")
    }
}


$(".perk19").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk19", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk19", 0); 
    }

});

let activeclass19 = localStorage.getItem("perk19");


if(activeclass19 == 1){

    if($(".perk19").children(".perktree").hasClass("hidden")){
        $(".perk19").children(".perktree").addClass("visible")
        $(".perk19").children(".perktree").removeClass("hidden")
    }

}else if(activeclass19 == 0){
    if($(".perk19").children(".perktree").hasClass("visible")){
        $(".perk19").children(".perktree").addClass("hidden")
        $(".perk19").children(".perktree").removeClass("visible")
    }
}


$(".perk20").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk20", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk20", 0); 
    }

});

let activeclass20 = localStorage.getItem("perk20");


if(activeclass20 == 1){

    if($(".perk20").children(".perktree").hasClass("hidden")){
        $(".perk20").children(".perktree").addClass("visible")
        $(".perk20").children(".perktree").removeClass("hidden")
    }
    
}else if(activeclass20 == 0){
    if($(".perk20").children(".perktree").hasClass("visible")){
        $(".perk20").children(".perktree").addClass("hidden")
        $(".perk20").children(".perktree").removeClass("visible")
    }
}


$(".perk21").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk21", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk21", 0); 
    }

});

let activeclass21 = localStorage.getItem("perk21");


if(activeclass21 == 1){

    if($(".perk21").children(".perktree").hasClass("hidden")){
        $(".perk21").children(".perktree").addClass("visible")
        $(".perk21").children(".perktree").removeClass("hidden")
    }

}else if(activeclass21 == 0){
    if($(".perk21").children(".perktree").hasClass("visible")){
        $(".perk21").children(".perktree").addClass("hidden")
        $(".perk21").children(".perktree").removeClass("visible")
    }
}


$(".perk22").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk22", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk22", 0); 
    }

});

let activeclass22 = localStorage.getItem("perk22");


if(activeclass22 == 1){

    if($(".perk22").children(".perktree").hasClass("hidden")){
        $(".perk22").children(".perktree").addClass("visible")
        $(".perk22").children(".perktree").removeClass("hidden")
    }

}else if(activeclass22 == 0){
    if($(".perk22").children(".perktree").hasClass("visible")){
        $(".perk22").children(".perktree").addClass("hidden")
        $(".perk22").children(".perktree").removeClass("visible")
    }
}


$(".perk23").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk23", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk23", 0); 
    }

});

let activeclass23 = localStorage.getItem("perk23");


if(activeclass23 == 1){

    if($(".perk23").children(".perktree").hasClass("hidden")){
        $(".perk23").children(".perktree").addClass("visible")
        $(".perk23").children(".perktree").removeClass("hidden")
    }

}else if(activeclass23 == 0){
    if($(".perk23").children(".perktree").hasClass("visible")){
        $(".perk23").children(".perktree").addClass("hidden")
        $(".perk23").children(".perktree").removeClass("visible")
    }
}


$(".perk24").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk24", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk24", 0); 
    }

});

let activeclass24 = localStorage.getItem("perk24");


if(activeclass24 == 1){

    if($(".perk24").children(".perktree").hasClass("hidden")){
        $(".perk24").children(".perktree").addClass("visible")
        $(".perk24").children(".perktree").removeClass("hidden")
    }

}else if(activeclass2 == 0){
    if($(".perk24").children(".perktree").hasClass("visible")){
        $(".perk24").children(".perktree").addClass("hidden")
        $(".perk24").children(".perktree").removeClass("visible")
    }
}


$(".perk25").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk25", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk25", 0); 
    }

});

let activeclass25 = localStorage.getItem("perk25");


if(activeclass25 == 1){

    if($(".perk25").children(".perktree").hasClass("hidden")){
        $(".perk25").children(".perktree").addClass("visible")
        $(".perk25").children(".perktree").removeClass("hidden")
    }

}else if(activeclass25 == 0){
    if($(".perk25").children(".perktree").hasClass("visible")){
        $(".perk25").children(".perktree").addClass("hidden")
        $(".perk25").children(".perktree").removeClass("visible")
    }
}


$(".perk26").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk26", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk26", 0); 
    }

});

let activeclass26 = localStorage.getItem("perk26");


if(activeclass26 == 1){

    if($(".perk26").children(".perktree").hasClass("hidden")){
        $(".perk26").children(".perktree").addClass("visible")
        $(".perk26").children(".perktree").removeClass("hidden")
    }

}else if(activeclass26 == 0){
    if($(".perk26").children(".perktree").hasClass("visible")){
        $(".perk26").children(".perktree").addClass("hidden")
        $(".perk26").children(".perktree").removeClass("visible")
    }
}


$(".perk27").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk27", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk27", 0); 
    }

});

let activeclass27 = localStorage.getItem("perk27");


if(activeclass27 == 1){

    if($(".perk27").children(".perktree").hasClass("hidden")){
        $(".perk27").children(".perktree").addClass("visible")
        $(".perk27").children(".perktree").removeClass("hidden")
    }

}else if(activeclass27 == 0){
    if($(".perk27").children(".perktree").hasClass("visible")){
        $(".perk27").children(".perktree").addClass("hidden")
        $(".perk27").children(".perktree").removeClass("visible")
    }
}


$(".perk28").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk28", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk28", 0); 
    }

});

let activeclass28 = localStorage.getItem("perk28");


if(activeclass28 == 1){

    if($(".perk28").children(".perktree").hasClass("hidden")){
        $(".perk28").children(".perktree").addClass("visible")
        $(".perk28").children(".perktree").removeClass("hidden")
    }

}else if(activeclass28 == 0){
    if($(".perk28").children(".perktree").hasClass("visible")){
        $(".perk28").children(".perktree").addClass("hidden")
        $(".perk28").children(".perktree").removeClass("visible")
    }
}


$(".perk29").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk29", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk29", 0); 
    }

});

let activeclass29 = localStorage.getItem("perk29");


if(activeclass29 == 1){

    if($(".perk29").children(".perktree").hasClass("hidden")){
        $(".perk29").children(".perktree").addClass("visible")
        $(".perk29").children(".perktree").removeClass("hidden")
    }

}else if(activeclass29 == 0){
    if($(".perk29").children(".perktree").hasClass("visible")){
        $(".perk29").children(".perktree").addClass("hidden")
        $(".perk29").children(".perktree").removeClass("visible")
    }
}



$(".perk30").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk30", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk30", 0); 
    }

});

let activeclass30 = localStorage.getItem("perk30");


if(activeclass30 == 1){

    if($(".perk30").children(".perktree").hasClass("hidden")){
        $(".perk30").children(".perktree").addClass("visible")
        $(".perk30").children(".perktree").removeClass("hidden")
    }

}else if(activeclass30 == 0){
    if($(".perk30").children(".perktree").hasClass("visible")){
        $(".perk30").children(".perktree").addClass("hidden")
        $(".perk30").children(".perktree").removeClass("visible")
    }
}

$(".perk31").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk31", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk31", 0); 
    }

});

let activeclass31 = localStorage.getItem("perk31");


if(activeclass31 == 1){

    if($(".perk31").children(".perktree").hasClass("hidden")){
        $(".perk31").children(".perktree").addClass("visible")
        $(".perk31").children(".perktree").removeClass("hidden")
    }

}else if(activeclass31 == 0){
    if($(".perk31").children(".perktree").hasClass("visible")){
        $(".perk31").children(".perktree").addClass("hidden")
        $(".perk31").children(".perktree").removeClass("visible")
    }
}


$(".perk32").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk32", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk32", 0); 
    }

});

let activeclass32 = localStorage.getItem("perk32");


if(activeclass32 == 1){

    if($(".perk32").children(".perktree").hasClass("hidden")){
        $(".perk32").children(".perktree").addClass("visible")
        $(".perk32").children(".perktree").removeClass("hidden")
    }

}else if(activeclass32 == 0){
    if($(".perk32").children(".perktree").hasClass("visible")){
        $(".perk32").children(".perktree").addClass("hidden")
        $(".perk32").children(".perktree").removeClass("visible")
    }
}

$(".perk33").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk33", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk33", 0); 
    }

});

let activeclass33 = localStorage.getItem("perk33");


if(activeclass33 == 1){

    if($(".perk33").children(".perktree").hasClass("hidden")){
        $(".perk33").children(".perktree").addClass("visible")
        $(".perk33").children(".perktree").removeClass("hidden")
    }

}else if(activeclass33 == 0){
    if($(".perk33").children(".perktree").hasClass("visible")){
        $(".perk33").children(".perktree").addClass("hidden")
        $(".perk33").children(".perktree").removeClass("visible")
    }
}

$(".perk34").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk34", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk34", 0); 
    }

});

let activeclass34 = localStorage.getItem("perk34");


if(activeclass34 == 1){

    if($(".perk34").children(".perktree").hasClass("hidden")){
        $(".perk34").children(".perktree").addClass("visible")
        $(".perk34").children(".perktree").removeClass("hidden")
    }

}else if(activeclass34 == 0){
    if($(".perk34").children(".perktree").hasClass("visible")){
        $(".perk34").children(".perktree").addClass("hidden")
        $(".perk34").children(".perktree").removeClass("visible")
    }
}

$(".perk35").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk35", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk35", 0); 
    }

});

let activeclass35 = localStorage.getItem("perk35");


if(activeclass35 == 1){

    if($(".perk35").children(".perktree").hasClass("hidden")){
        $(".perk35").children(".perktree").addClass("visible")
        $(".perk35").children(".perktree").removeClass("hidden")
    }

}else if(activeclass35 == 0){
    if($(".perk35").children(".perktree").hasClass("visible")){
        $(".perk35").children(".perktree").addClass("hidden")
        $(".perk35").children(".perktree").removeClass("visible")
    }
}

$(".perk36").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk36", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk36", 0); 
    }

});

let activeclass36 = localStorage.getItem("perk36");


if(activeclass36 == 1){

    if($(".perk36").children(".perktree").hasClass("hidden")){
        $(".perk36").children(".perktree").addClass("visible")
        $(".perk36").children(".perktree").removeClass("hidden")
    }

}else if(activeclass36 == 0){
    if($(".perk36").children(".perktree").hasClass("visible")){
        $(".perk36").children(".perktree").addClass("hidden")
        $(".perk36").children(".perktree").removeClass("visible")
    }
}


$(".perk37").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk37", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk37", 0); 
    }

});

let activeclass37 = localStorage.getItem("perk37");


if(activeclass37 == 1){

    if($(".perk37").children(".perktree").hasClass("hidden")){
        $(".perk37").children(".perktree").addClass("visible")
        $(".perk37").children(".perktree").removeClass("hidden")
    }

}else if(activeclass37 == 0){
    if($(".perk37").children(".perktree").hasClass("visible")){
        $(".perk37").children(".perktree").addClass("hidden")
        $(".perk37").children(".perktree").removeClass("visible")
    }
}

$(".perk38").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk38", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk38", 0); 
    }

});

let activeclass38 = localStorage.getItem("perk38");


if(activeclass38 == 1){

    if($(".perk38").children(".perktree").hasClass("hidden")){
        $(".perk38").children(".perktree").addClass("visible")
        $(".perk38").children(".perktree").removeClass("hidden")
    }

}else if(activeclass38 == 0){
    if($(".perk38").children(".perktree").hasClass("visible")){
        $(".perk38").children(".perktree").addClass("hidden")
        $(".perk38").children(".perktree").removeClass("visible")
    }
}

$(".perk39").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk39", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk39", 0); 
    }

});

let activeclass39 = localStorage.getItem("perk39");


if(activeclass39 == 1){

    if($(".perk39").children(".perktree").hasClass("hidden")){
        $(".perk39").children(".perktree").addClass("visible")
        $(".perk39").children(".perktree").removeClass("hidden")
    }

}else if(activeclass39 == 0){
    if($(".perk39").children(".perktree").hasClass("visible")){
        $(".perk39").children(".perktree").addClass("hidden")
        $(".perk39").children(".perktree").removeClass("visible")
    }
}

$(".perk40").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk40", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk40", 0); 
    }

});

let activeclass40 = localStorage.getItem("perk40");


if(activeclass40 == 1){

    if($(".perk40").children(".perktree").hasClass("hidden")){
        $(".perk40").children(".perktree").addClass("visible")
        $(".perk40").children(".perktree").removeClass("hidden")
    }

}else if(activeclass40 == 0){
    if($(".perk40").children(".perktree").hasClass("visible")){
        $(".perk40").children(".perktree").addClass("hidden")
        $(".perk40").children(".perktree").removeClass("visible")
    }
}

$(".perk41").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk41", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk41", 0); 
    }

});

let activeclass41 = localStorage.getItem("perk41");


if(activeclass41 == 1){

    if($(".perk41").children(".perktree").hasClass("hidden")){
        $(".perk41").children(".perktree").addClass("visible")
        $(".perk41").children(".perktree").removeClass("hidden")
    }

}else if(activeclass41 == 0){
    if($(".perk41").children(".perktree").hasClass("visible")){
        $(".perk41").children(".perktree").addClass("hidden")
        $(".perk41").children(".perktree").removeClass("visible")
    }
}

$(".perk42").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk42", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk42", 0); 
    }

});

let activeclass42 = localStorage.getItem("perk42");


if(activeclass42 == 1){

    if($(".perk42").children(".perktree").hasClass("hidden")){
        $(".perk42").children(".perktree").addClass("visible")
        $(".perk42").children(".perktree").removeClass("hidden")
    }

}else if(activeclass42 == 0){
    if($(".perk42").children(".perktree").hasClass("visible")){
        $(".perk42").children(".perktree").addClass("hidden")
        $(".perk42").children(".perktree").removeClass("visible")
    }
}

$(".perk43").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk43", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk43", 0); 
    }

});

let activeclass43 = localStorage.getItem("perk43");


if(activeclass43 == 1){

    if($(".perk43").children(".perktree").hasClass("hidden")){
        $(".perk43").children(".perktree").addClass("visible")
        $(".perk43").children(".perktree").removeClass("hidden")
    }

}else if(activeclass43 == 0){
    if($(".perk43").children(".perktree").hasClass("visible")){
        $(".perk43").children(".perktree").addClass("hidden")
        $(".perk43").children(".perktree").removeClass("visible")
    }
}


$(".perk44").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk44", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk44", 0); 
    }

});

let activeclass44 = localStorage.getItem("perk44");


if(activeclass44 == 1){

    if($(".perk44").children(".perktree").hasClass("hidden")){
        $(".perk44").children(".perktree").addClass("visible")
        $(".perk44").children(".perktree").removeClass("hidden")
    }

}else if(activeclass44 == 0){
    if($(".perk44").children(".perktree").hasClass("visible")){
        $(".perk44").children(".perktree").addClass("hidden")
        $(".perk44").children(".perktree").removeClass("visible")
    }
}

$(".perk45").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk45", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk45", 0); 
    }

});

let activeclass45 = localStorage.getItem("perk45");


if(activeclass45 == 1){

    if($(".perk45").children(".perktree").hasClass("hidden")){
        $(".perk45").children(".perktree").addClass("visible")
        $(".perk45").children(".perktree").removeClass("hidden")
    }

}else if(activeclass45 == 0){
    if($(".perk45").children(".perktree").hasClass("visible")){
        $(".perk45").children(".perktree").addClass("hidden")
        $(".perk45").children(".perktree").removeClass("visible")
    }
}

$(".perk46").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk46", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk46", 0); 
    }

});

let activeclass46 = localStorage.getItem("perk46");


if(activeclass46 == 1){

    if($(".perk46").children(".perktree").hasClass("hidden")){
        $(".perk46").children(".perktree").addClass("visible")
        $(".perk46").children(".perktree").removeClass("hidden")
    }

}else if(activeclass46 == 0){
    if($(".perk46").children(".perktree").hasClass("visible")){
        $(".perk46").children(".perktree").addClass("hidden")
        $(".perk46").children(".perktree").removeClass("visible")
    }
}

$(".perk47").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk47", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk47", 0); 
    }

});

let activeclass47 = localStorage.getItem("perk47");


if(activeclass47 == 1){

    if($(".perk47").children(".perktree").hasClass("hidden")){
        $(".perk47").children(".perktree").addClass("visible")
        $(".perk47").children(".perktree").removeClass("hidden")
    }

}else if(activeclass47 == 0){
    if($(".perk47").children(".perktree").hasClass("visible")){
        $(".perk47").children(".perktree").addClass("hidden")
        $(".perk47").children(".perktree").removeClass("visible")
    }
}

$(".perk48").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk48", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk48", 0); 
    }

});

let activeclass48 = localStorage.getItem("perk48");


if(activeclass48 == 1){

    if($(".perk48").children(".perktree").hasClass("hidden")){
        $(".perk48").children(".perktree").addClass("visible")
        $(".perk48").children(".perktree").removeClass("hidden")
    }

}else if(activeclass48 == 0){
    if($(".perk48").children(".perktree").hasClass("visible")){
        $(".perk48").children(".perktree").addClass("hidden")
        $(".perk48").children(".perktree").removeClass("visible")
    }
}

$(".perk49").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk49", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk49", 0); 
    }

});

let activeclass49 = localStorage.getItem("perk49");


if(activeclass49 == 1){

    if($(".perk49").children(".perktree").hasClass("hidden")){
        $(".perk49").children(".perktree").addClass("visible")
        $(".perk49").children(".perktree").removeClass("hidden")
    }

}else if(activeclass49 == 0){
    if($(".perk49").children(".perktree").hasClass("visible")){
        $(".perk49").children(".perktree").addClass("hidden")
        $(".perk49").children(".perktree").removeClass("visible")
    }
}

$(".perk50").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk50", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk50", 0); 
    }

});

let activeclass50 = localStorage.getItem("perk50");


if(activeclass50 == 1){

    if($(".perk50").children(".perktree").hasClass("hidden")){
        $(".perk50").children(".perktree").addClass("visible")
        $(".perk50").children(".perktree").removeClass("hidden")
    }

}else if(activeclass50 == 0){
    if($(".perk50").children(".perktree").hasClass("visible")){
        $(".perk50").children(".perktree").addClass("hidden")
        $(".perk50").children(".perktree").removeClass("visible")
    }
}


$(".perk51").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk51", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk51", 0); 
    }

});

let activeclass51 = localStorage.getItem("perk51");


if(activeclass51 == 1){

    if($(".perk51").children(".perktree").hasClass("hidden")){
        $(".perk51").children(".perktree").addClass("visible")
        $(".perk51").children(".perktree").removeClass("hidden")
    }

}else if(activeclass51 == 0){
    if($(".perk51").children(".perktree").hasClass("visible")){
        $(".perk51").children(".perktree").addClass("hidden")
        $(".perk51").children(".perktree").removeClass("visible")
    }
}

$(".perk52").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk52", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk52", 0); 
    }

});

let activeclass52 = localStorage.getItem("perk52");


if(activeclass52 == 1){

    if($(".perk52").children(".perktree").hasClass("hidden")){
        $(".perk52").children(".perktree").addClass("visible")
        $(".perk52").children(".perktree").removeClass("hidden")
    }

}else if(activeclass52 == 0){
    if($(".perk52").children(".perktree").hasClass("visible")){
        $(".perk52").children(".perktree").addClass("hidden")
        $(".perk52").children(".perktree").removeClass("visible")
    }
}

$(".perk53").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk53", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk53", 0); 
    }

});

let activeclass53 = localStorage.getItem("perk53");


if(activeclass53 == 1){

    if($(".perk53").children(".perktree").hasClass("hidden")){
        $(".perk53").children(".perktree").addClass("visible")
        $(".perk53").children(".perktree").removeClass("hidden")
    }

}else if(activeclass53 == 0){
    if($(".perk53").children(".perktree").hasClass("visible")){
        $(".perk53").children(".perktree").addClass("hidden")
        $(".perk53").children(".perktree").removeClass("visible")
    }
}

$(".perk54").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk54", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk54", 0); 
    }

});

let activeclass54 = localStorage.getItem("perk54");


if(activeclass54 == 1){

    if($(".perk54").children(".perktree").hasClass("hidden")){
        $(".perk54").children(".perktree").addClass("visible")
        $(".perk54").children(".perktree").removeClass("hidden")
    }

}else if(activeclass54 == 0){
    if($(".perk54").children(".perktree").hasClass("visible")){
        $(".perk54").children(".perktree").addClass("hidden")
        $(".perk54").children(".perktree").removeClass("visible")
    }
}

$(".perk55").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk55", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk55", 0); 
    }

});

let activeclass55 = localStorage.getItem("perk55");


if(activeclass55 == 1){

    if($(".perk55").children(".perktree").hasClass("hidden")){
        $(".perk55").children(".perktree").addClass("visible")
        $(".perk55").children(".perktree").removeClass("hidden")
    }

}else if(activeclass55 == 0){
    if($(".perk55").children(".perktree").hasClass("visible")){
        $(".perk55").children(".perktree").addClass("hidden")
        $(".perk55").children(".perktree").removeClass("visible")
    }
}

$(".perk56").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk56", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk56", 0); 
    }

});

let activeclass56 = localStorage.getItem("perk56");


if(activeclass56 == 1){

    if($(".perk56").children(".perktree").hasClass("hidden")){
        $(".perk56").children(".perktree").addClass("visible")
        $(".perk56").children(".perktree").removeClass("hidden")
    }

}else if(activeclass56 == 0){
    if($(".perk56").children(".perktree").hasClass("visible")){
        $(".perk56").children(".perktree").addClass("hidden")
        $(".perk56").children(".perktree").removeClass("visible")
    }
}

$(".perk57").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk57", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk57", 0); 
    }

});

let activeclass57 = localStorage.getItem("perk57");


if(activeclass57 == 1){

    if($(".perk57").children(".perktree").hasClass("hidden")){
        $(".perk57").children(".perktree").addClass("visible")
        $(".perk57").children(".perktree").removeClass("hidden")
    }

}else if(activeclass57 == 0){
    if($(".perk57").children(".perktree").hasClass("visible")){
        $(".perk57").children(".perktree").addClass("hidden")
        $(".perk57").children(".perktree").removeClass("visible")
    }
}

$(".perk58").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk58", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk58", 0); 
    }

});

let activeclass58 = localStorage.getItem("perk58");


if(activeclass58 == 1){

    if($(".perk58").children(".perktree").hasClass("hidden")){
        $(".perk58").children(".perktree").addClass("visible")
        $(".perk58").children(".perktree").removeClass("hidden")
    }

}else if(activeclass58 == 0){
    if($(".perk58").children(".perktree").hasClass("visible")){
        $(".perk58").children(".perktree").addClass("hidden")
        $(".perk58").children(".perktree").removeClass("visible")
    }
}

$(".perk59").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk59", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk59", 0); 
    }

});

let activeclass59 = localStorage.getItem("perk59");


if(activeclass59 == 1){

    if($(".perk59").children(".perktree").hasClass("hidden")){
        $(".perk59").children(".perktree").addClass("visible")
        $(".perk59").children(".perktree").removeClass("hidden")
    }

}else if(activeclass59 == 0){
    if($(".perk59").children(".perktree").hasClass("visible")){
        $(".perk59").children(".perktree").addClass("hidden")
        $(".perk59").children(".perktree").removeClass("visible")
    }
}

$(".perk60").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk60", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk60", 0); 
    }

});

let activeclass60 = localStorage.getItem("perk60");


if(activeclass60 == 1){

    if($(".perk60").children(".perktree").hasClass("hidden")){
        $(".perk60").children(".perktree").addClass("visible")
        $(".perk60").children(".perktree").removeClass("hidden")
    }

}else if(activeclass60 == 0){
    if($(".perk60").children(".perktree").hasClass("visible")){
        $(".perk60").children(".perktree").addClass("hidden")
        $(".perk60").children(".perktree").removeClass("visible")
    }
}


$(".perk61").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk61", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk61", 0); 
    }

});

let activeclass61 = localStorage.getItem("perk61");


if(activeclass61 == 1){

    if($(".perk61").children(".perktree").hasClass("hidden")){
        $(".perk61").children(".perktree").addClass("visible")
        $(".perk61").children(".perktree").removeClass("hidden")
    }

}else if(activeclass61 == 0){
    if($(".perk61").children(".perktree").hasClass("visible")){
        $(".perk61").children(".perktree").addClass("hidden")
        $(".perk61").children(".perktree").removeClass("visible")
    }
}

$(".perk62").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk62", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk62", 0); 
    }

});

let activeclass62 = localStorage.getItem("perk62");


if(activeclass62 == 1){

    if($(".perk62").children(".perktree").hasClass("hidden")){
        $(".perk62").children(".perktree").addClass("visible")
        $(".perk62").children(".perktree").removeClass("hidden")
    }

}else if(activeclass62 == 0){
    if($(".perk62").children(".perktree").hasClass("visible")){
        $(".perk62").children(".perktree").addClass("hidden")
        $(".perk62").children(".perktree").removeClass("visible")
    }
}

$(".perk63").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk63", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk63", 0); 
    }

});

let activeclass63 = localStorage.getItem("perk63");


if(activeclass63 == 1){

    if($(".perk63").children(".perktree").hasClass("hidden")){
        $(".perk63").children(".perktree").addClass("visible")
        $(".perk63").children(".perktree").removeClass("hidden")
    }

}else if(activeclass63 == 0){
    if($(".perk63").children(".perktree").hasClass("visible")){
        $(".perk63").children(".perktree").addClass("hidden")
        $(".perk63").children(".perktree").removeClass("visible")
    }
}

$(".perk64").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk64", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk64", 0); 
    }

});

let activeclass64 = localStorage.getItem("perk64");


if(activeclass64 == 1){

    if($(".perk64").children(".perktree").hasClass("hidden")){
        $(".perk64").children(".perktree").addClass("visible")
        $(".perk64").children(".perktree").removeClass("hidden")
    }

}else if(activeclass64 == 0){
    if($(".perk64").children(".perktree").hasClass("visible")){
        $(".perk64").children(".perktree").addClass("hidden")
        $(".perk64").children(".perktree").removeClass("visible")
    }
}

$(".perk65").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk65", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk65", 0); 
    }

});

let activeclass65 = localStorage.getItem("perk65");


if(activeclass65 == 1){

    if($(".perk65").children(".perktree").hasClass("hidden")){
        $(".perk65").children(".perktree").addClass("visible")
        $(".perk65").children(".perktree").removeClass("hidden")
    }

}else if(activeclass65 == 0){
    if($(".perk65").children(".perktree").hasClass("visible")){
        $(".perk65").children(".perktree").addClass("hidden")
        $(".perk65").children(".perktree").removeClass("visible")
    }
}

$(".perk66").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk66", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk66", 0); 
    }

});

let activeclass66 = localStorage.getItem("perk66");


if(activeclass66 == 1){

    if($(".perk66").children(".perktree").hasClass("hidden")){
        $(".perk66").children(".perktree").addClass("visible")
        $(".perk66").children(".perktree").removeClass("hidden")
    }

}else if(activeclass66 == 0){
    if($(".perk66").children(".perktree").hasClass("visible")){
        $(".perk66").children(".perktree").addClass("hidden")
        $(".perk66").children(".perktree").removeClass("visible")
    }
}

$(".perk67").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk67", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk67", 0); 
    }

});

let activeclass67 = localStorage.getItem("perk6");


if(activeclass67 == 1){

    if($(".perk67").children(".perktree").hasClass("hidden")){
        $(".perk67").children(".perktree").addClass("visible")
        $(".perk67").children(".perktree").removeClass("hidden")
    }

}else if(activeclass67 == 0){
    if($(".perk67").children(".perktree").hasClass("visible")){
        $(".perk67").children(".perktree").addClass("hidden")
        $(".perk67").children(".perktree").removeClass("visible")
    }
}

$(".perk68").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk68", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk68", 0); 
    }

});

let activeclass68 = localStorage.getItem("perk68");


if(activeclass68 == 1){

    if($(".perk68").children(".perktree").hasClass("hidden")){
        $(".perk68").children(".perktree").addClass("visible")
        $(".perk68").children(".perktree").removeClass("hidden")
    }

}else if(activeclass68 == 0){
    if($(".perk68").children(".perktree").hasClass("visible")){
        $(".perk68").children(".perktree").addClass("hidden")
        $(".perk68").children(".perktree").removeClass("visible")
    }
}

$(".perk69").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk69", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk69", 0); 
    }

});

let activeclass69 = localStorage.getItem("perk69");


if(activeclass69 == 1){

    if($(".perk69").children(".perktree").hasClass("hidden")){
        $(".perk69").children(".perktree").addClass("visible")
        $(".perk69").children(".perktree").removeClass("hidden")
    }

}else if(activeclass69 == 0){
    if($(".perk69").children(".perktree").hasClass("visible")){
        $(".perk69").children(".perktree").addClass("hidden")
        $(".perk69").children(".perktree").removeClass("visible")
    }
}

$(".perk70").click(function () {

    if( $(this).children(".perktree").hasClass("visible")){
        localStorage.setItem("perk70", 1); 
    }else if($(this).children(".perktree").hasClass("hidden")){
        localStorage.setItem("perk70", 0); 
    }

});

let activeclass70 = localStorage.getItem("perk70");


if(activeclass70 == 1){

    if($(".perk70").children(".perktree").hasClass("hidden")){
        $(".perk70").children(".perktree").addClass("visible")
        $(".perk70").children(".perktree").removeClass("hidden")
    }

}else if(activeclass70 == 0){
    if($(".perk70").children(".perktree").hasClass("visible")){
        $(".perk70").children(".perktree").addClass("hidden")
        $(".perk70").children(".perktree").removeClass("visible") 
    }
}

//toggle states of visible perks and hidden perks

$(".perktree").click(function() {
    $(this).toggleClass("visible").toggleClass("hidden");

});
    $(".perkcon").tooltip();
});

</script>
