@page
@model Fallout_tec.Pages.RegisterpageModel
@{
}


<!--Link Css with page-->
<head><script href="~css/site.css"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
crossorigin="anonymous"></head>

<!--Frontend-->
<img class="backgroundimg" src="~/images/background.png" alt="background"/>  
<img class="logodark" src="~/images/logoDark.png" alt="logo"/>  
<h1 class="registerHeading">Welcome to <br> the  Wasteland</h1>
<h3 class="registertext">Tracking your game inventory</h3>

<!--register page form and pfp data-->
<h3 class="registerinfo">Create your free account now.</h3>

<form method="post" asp-page-handler="Register">
<!--add profile image-->
<div class="profile_preview">
        <img id="preview_image" src="~/images/placeholder.png">
        </div>
        <div class='file_reg'>
        <input style="display:none;" name="profilepic" id="u_profile" type="file" onchange="previewFile(this);" >
                <label class='choose' for="u_profile"><i class="fas fa-pen"></i></label>
</div>

<!--Input field collect data-->

<input class="reg_username" name= "username" type="text" placeholder="Username"/>
<input class="reg_email" name = "email" type="email" placeholder="Email"/>
<input class="reg_password" name = "password" type="password" placeholder="Password"/>

<!--submit btn & go to login href-->
<button class="registernow">Register Now</button>
</form>
<h5 class="register_login_link">Already have an account? <a style="text-decoration:none;" asp-area="" asp-page="/Loginpage"><strong style="color:#0067B1;"> Log in</strong></a></h5>

							
						

<!--remove header from page-->
<style type="text/css">
#footer
{
 display:none;
}

html{
    overflow:hidden;
}

</style>

<script>
//remove header from page
document.getElementsByClassName('navbar')[0].remove();
 

</script>

<script>

    //change profile preview
        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#preview_image").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }


</script>